<app-search></app-search>
<app-promo-panel [heading]="'Welcome to SymbuyOsis'"
    [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius mi sit amet nibh pellentesque, at pharetra ligula faucibus. Integer dolor sem, venenatis eget justo cursus, porttitor bibendum tortor.'"
    [buttonText]="'Button'"></app-promo-panel>

    <app-paragraph
    [heading]="'Welcome to SymbuyOsis'"
    [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius mi sit amet nibh pellentesque, at pharetra ligula faucibus. Integer dolor sem, venenatis eget justo cursus, porttitor bibendum tortor.'"
    ></app-paragraph>

    <app-card-grid
    [heading]="'H2 Heading'"
    [cards]="[
        { title: 'Card Placeholder' },
        { title: 'Card Placeholder' },
        { title: 'Card Placeholder' },
        { title: 'Card Placeholder' },
        { title: 'Card Placeholder' },
        { title: 'Card Placeholder' }
    ]"
    ></app-card-grid>