@import 'color';
@import 'font';
@import 'variable';

.sidebar {
  width: 240px;
  height: 100vh;
  background-color:$white;
  padding: 30px 20px;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.sidebar-label{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
}
.sidebar-profile-name{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
}
.sidebar-profile-company-name{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
}

.sidebar.collapsed {
  width: 70px;
}

.avatar {
  width: 70px;
  border-radius: 34px;
  height: 70px;
  background-color: $avtar-bg;
}

.sidebar.collapsed .avatar {
  width: 40px;
  height: 40px;
}

.sidebar.collapsed .profile {
  margin-bottom: 20px;
}

.sidebar.collapsed .sidebar-profile-name,
.sidebar.collapsed .sidebar-profile-company-name {
  display: none;
}

.sidebar.collapsed .menu li {
  padding: 10px 0px;
  .sidebar-label {
    display: none;
  }

}
li{
  &.active {
    color: $blue2;
  }
  &.active .icon {
    color: $blue2;
  }
}
.sidebar.collapsed .icon {
  margin-right: 0;
}

.menu {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

.menu li:hover {
  color: $blue2;
}

.icon {
  width: 24px;
  text-align: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.collapse-btn {
  position: absolute;
  top: -3px;
  left: 5px;
  color: $white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
}

.collapse-btn:hover {
  background-color: transparent;
}