@import 'color';
@import 'font';
@import 'variable';

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: $nav-color;
  }
  
  .navbar-nav .nav-link:hover {
    color: $primary-black;
  }
  
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;

    .title-name{
      font-family: 'Saira Stencil One';
      font-weight: 400;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
    }
}