<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
      <img src="/logo.svg" alt="Logo" width="68" height="59" class="me-2" />
      <p class="title-name m-0">SYMBUYOSIS</p>
    </a>

    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-lg-3 gap-2 text-center text-lg-start">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/use-cases">Use Cases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <!-- Sign Out for mobile -->
        <li class="nav-item d-lg-none mt-2">
          <button class="btn btn-outline-dark w-100">Log out</button>
        </li>
      </ul>
    </div>

    <!-- Sign Out button (desktop only) -->
    @if(isLoggedIn){
    <div class="d-none d-lg-block ms-3">
      <button class="btn btn-outline-dark px-4">Log out</button>
    </div>
    }
    <div class="d-none d-lg-block ms-3">
      <button class="btn btn-outline-dark px-4" routerLink="/login">Sign in</button>
    </div>
  </div>
</nav>