* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
  }
  
  // app-header {
  //   height: 60px; /* or however tall your header is */
  //   display: block;
  // }
  
  .app-container {
    display: flex;
    // height: calc(100vh - 60px); /* subtract header height */
    // overflow: hidden;
  }
  
  /* Sidebar with independent scrolling */
  app-sidebar {
    // width: 240px;
    position: fixed;
    top: 100px; /* or whatever offset you want */
    flex-shrink: 0;
    overflow-y: auto;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    z-index: 9;
  }
  
  /* Main content layout */
  .main-content {
    margin-left: 240px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: margin-left 0.3s ease-in-out; 
  }
  .main-content.collapsed {
    margin-left: 70px; /* Adjust the margin to accommodate the collapsed sidebar */
  }
  
  /* Scrollable content area */
  .content-wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
  }
  