@import 'color';
@import 'font';
@import 'variable';

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $footer-bg;
    padding: 10px 20px;
    font-size: 13px;
    color: $footer-color;
    border-top: 1px solid $light-border-gray;
  }
  
  .footer .right {
    display: flex;
    gap: 15px;
  }
  
  .footer .link {
    color: $footer-link;
    text-decoration: none;
  }
  
  .footer .link:hover {
    text-decoration: underline;
  }
  