<div class="d-flex justify-content-start align-items-center">
    <div>
        <h1 class="h2 mb-3">Search Opportunities</h1>
    </div>
</div>
<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius mi sit amet nibh pellentesque,
</p>
<app-search></app-search>

<div class="hr"></div>
<div class="row">
    <h1 class="h2 mb-3">{{ title }}</h1>
    @for (opportunity of opportunities; track $index) {
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <app-opportunity-card [opportunities]="opportunity" [isEnquire]="true" [isPost]="false"
            (bookmarkClicked)="onBookMarked($event)" (submitClicked)="onSubmit($event)"></app-opportunity-card>
    </div>
    }
</div>