<app-header></app-header>

<div class="app-container">
    <div class="main-content">
        <div class="content-wrapper">
            <app-home></app-home>
            <app-about-us></app-about-us>
            <app-pricing></app-pricing>
            <app-new-options></app-new-options>
            <app-campaign-managers></app-campaign-managers>
            <app-small-busines-connect></app-small-busines-connect>
            <app-use-case></app-use-case>
        </div>
        <app-footer></app-footer>
    </div>
</div>