<app-header></app-header>

<div class="app-container">
    <div class="main-content">
        <div class="content-wrapper">
            <div id="home">
                <app-home></app-home>
            </div>
            <div id="about-us">
                <app-about-us></app-about-us>
            </div>
            <div id="use-case">
                <app-use-case></app-use-case>
            </div>
            <div id="pricing">
                <app-pricing></app-pricing>
            </div>
            <div id="campaign-managers">
                <app-campaign-managers></app-campaign-managers>
            </div>
            <div id="small-business-connect">
                <app-small-busines-connect></app-small-busines-connect>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>