@import 'color';
@import 'font';
@import 'variable';

.placeholder-card {
    background-color: $card-grid-bg;
    // border: 1px dashed $dash-border-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: 610px;
    font-weight: bold;
  }
  