.placeholder-card {
    background-color: #d3d3d3;
    border: 1px dashed #999;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    // width: 400px;
    height: 700px;
    font-weight: bold;
  }
  