@import 'color';
@import 'font';
@import 'variable';

.card-img{
    background-color: $card-bg !important;
    height: 300px; 
    border-radius: 12px;
}
.promo-heading{
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 0.3px;
    color: $secondary-black;
}