// Define your color tokens here

$primary-black: #000000; 
$blue2: #2D9CDB; 
$avtar-bg: #D9D9D9;
$white: #fff;
$secondary-black: #171717;
$label-gray: #17171799;
$border-gray: #17171766;
$dash-border-gray: #999;
$count-color: #BB6BD9;
$footer-bg: #f5f5f5;
$footer-color: #555;
$footer-link: #39587c;
$light-border-gray: #ddd;
$dark-border-gray: #505050;
$card-bg: #D6D6D6;
$card-grid-bg: #d3d3d3;
$nav-color: #333;
$error-color: #dc3545;