// Define your colors
$primary-green: #086ef4;
$primary-bg-hover: #0951b0;
$primary-bg-loading: #d1d7e1;
$primary-bg-disabled: #d1d7e1;

// Define font size classes
$font-sizes: (10, 11, 12, 13, 14, 15, 16, 18, 20, 24);

// Define font weight classes using numerical values
$font-weights: (300, 400, 500, 600, 700);